<%= render 'layouts/header' %>
<div class="jumbotron">
			<div class="container">
				<div>
					<h1 align="center" >Material Status</h1>
				</div>
				<br>
				<br>
			</div>
	
</div>
<br>
<br>
<div class="col-md-offset-1 col-md-10" >
 	<table class="wikitable">
		<tr>
			
			<th width="825em" height="25px"></th>
			<th width="300em"></th>
			
		</tr>
		<tr>
			<td>Total Value of Inventory</td>
			<td align="right"><%= number_to_currency(@materials.sum(:total)) %>
				
			
			</td>
		</tr>

	</table>
</div>

<div class="col-md-offset-1 col-md-10" >
<br> Data Discrepencies  - When there are data discrepencies below. Please update materials before relying on above inventory total value.</br>
  
<table class="wikitable">

	<tr>
		<th width="50em">ID</th>
		<th width="125em">Category</th>
		<th width="400em">Product</th>
		<th width="150em">Present Total</th>
		<th width="100em">Calculated Total (price x quantity)</th>
		<th width="150em">New Total</th>
		<th width="150em"></th>
	</tr>
	<% @materials.each do |material| %>
		<% if number_with_precision(material.total, :precision => 2 || 0) != number_with_precision(material.in_stock.to_f*material.price.to_f, :precision => 2 || 0) %>
			<%= form_for material do |f| %>
			<tr>
				<td><%= material.id %></td>
				<td align="right"><%= material.category %></td>
				<td align="right"><%= link_to material.product, material_path(material) %></td>
				<% if !material.total %>
					<td bgcolor="#ebebe0" align="right">N/A</td>
				<% else %>
					<td align="right"><%= number_to_currency(material.total.to_f) %></td>
				<% end %>
				<td align="right"><%= number_to_currency(material.in_stock.to_f*material.price.to_f) %>
				<% material.total = material.in_stock.to_f*material.price.to_f %>
				<td align="center">  $<%= f.text_field :total, :value => number_with_precision(material.total, :precision => 2 || 0), :size=>"8%", :text=>"right"%></td>
				<td align="center"><%= f.submit :value=>"Apply New Total" %></td>
			</tr>
			<% end %>
		<% end %>
	<% end %>
	
	</table>
</div>
<div>
<br>
<br>
</div>
